.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.load-screen {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-screen p {
  color: #212121;
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
}

.line-1 {
  position: relative;
  border-right: 2px solid #212121;
  white-space: nowrap;
  overflow: hidden;
}

.anim-typewriter {
  animation: typewriter 1s steps(25) 0.5s 1 normal both,
    blinkTextCursor 500ms steps(25) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 11rem;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #212121;
  }
  to {
    border-right-color: transparent;
  }
}

body {
  background: #667db6;
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}

html {
  font-size: 16px;
}

body {
  background-color: #ffffff;
}

::selection {
  background: #ffb7b7;
}

::-moz-selection {
  background: #ffb7b7;
}
